@{
    ViewBag.Title = "سایت من";
}

<div class="jumbotron">
    <h1>شروع</h1>
    <p امروز سر چیزهای الکی منو خسته کرد</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>داستان تازه </h2>
        <p>
            هر یک روز یک داستان تازه داریم 
        </p>
          </div>
    <div class="col-md-4">
        <h2>کار در روز جمعه</h2>
       <p>  فکر کنم نتیجه کار توی روز تعطیل باشه </p>
    </div>
    <div class="col-md-4">
        <h2>خدا قوت</h2>
     <p>  خدا قوت</p>
    </div>
</div>